# Native rendering resolutions leave headroom on the RK3326.
mupen64plus-43screensize = "320x240"
mupen64plus-169screensize = "640x360"
reicast_internal_resolution = "640x480"
ppsspp_internal_resolution = "480x272"
ppsspp_cpu_core = "JIT"
