CONFIG_TARGET_rk3326=y
CONFIG_TARGET_rk3326_generic=y
CONFIG_TARGET_rk3326_generic_DEVICE_gameconsole_r36s=y
CONFIG_TARGET_ROOTFS_SQUASHFS=y
# CONFIG_TARGET_ROOTFS_EXT4FS is not set
CONFIG_TARGET_KERNEL_PARTSIZE=64
CONFIG_TARGET_ROOTFS_PARTSIZE=512
CONFIG_IMAGEOPT=y
CONFIG_PREINITOPT=y
CONFIG_TARGET_PREINIT_TIMEOUT=0
CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_rk3326-handheld=y
CONFIG_PACKAGE_emulationstation=y
CONFIG_PACKAGE_uboot-rk3326-legacy=y
CONFIG_PACKAGE_uboot-rk3326-modern=y
CONFIG_PACKAGE_kmod-usb-net-rtl8152=y
CONFIG_PACKAGE_kmod-usb-net-asix=y
CONFIG_PACKAGE_kmod-usb-net-asix-ax88179=y
CONFIG_PACKAGE_kmod-usb-net-cdc-ether=y
CONFIG_PACKAGE_kmod-usb-net-cdc-ncm=y
CONFIG_PACKAGE_kmod-rtl8xxxu=y
CONFIG_PACKAGE_kmod-mt7601u=y
CONFIG_PACKAGE_kmod-mt76x0u=y
CONFIG_PACKAGE_kmod-mt76x2u=y
CONFIG_PACKAGE_kmod-rtw88-8821cu=y
CONFIG_PACKAGE_kmod-rtw88-8723du=y
CONFIG_PACKAGE_kmod-rtw88-8723ds=y
CONFIG_BRCMFMAC_SDIO=y
CONFIG_PACKAGE_kmod-brcmfmac=y
CONFIG_PACKAGE_kmod-esp8089=y
CONFIG_PACKAGE_wpad-basic-mbedtls=y
CONFIG_PACKAGE_kmod-bluetooth=y
CONFIG_PACKAGE_kmod-btusb=y
CONFIG_PACKAGE_kmod-btsdio=y
CONFIG_PACKAGE_kmod-hci-uart-rtl=y
CONFIG_PACKAGE_rtl8761bu-firmware=y
CONFIG_PACKAGE_bluez-daemon=y
CONFIG_PACKAGE_bluez-utils=y
CONFIG_PACKAGE_kmod-fs-vfat=y
CONFIG_PACKAGE_kmod-fs-exfat=y
CONFIG_PACKAGE_kmod-usb-storage=y
CONFIG_PACKAGE_kmod-usb-hid=y
CONFIG_PACKAGE_kmod-hid-generic=y
CONFIG_PACKAGE_kmod-input-joystick=y
CONFIG_PACKAGE_block-mount=y
CONFIG_PACKAGE_resize2fs=y
CONFIG_BUSYBOX_CUSTOM=y
CONFIG_BUSYBOX_CONFIG_FLOCK=y
CONFIG_BUSYBOX_CONFIG_SETSID=y
CONFIG_BUSYBOX_CONFIG_CHVT=y
CONFIG_BUSYBOX_CONFIG_OPENVT=y
# CONFIG_KERNEL_DEBUG_INFO is not set
# CONFIG_KERNEL_DEBUG_KERNEL is not set
# CONFIG_KERNEL_KALLSYMS is not set
# CONFIG_KERNEL_PRINTK_TIME is not set
CONFIG_CCACHE=y
CONFIG_PACKAGE_audio-support=y
CONFIG_PACKAGE_video-support=y
CONFIG_PACKAGE_input-support=y
CONFIG_PACKAGE_accel-support=y
CONFIG_PACKAGE_retroarch=y
CONFIG_PACKAGE_libretro-gambatte=y
CONFIG_PACKAGE_libretro-fceumm=y
CONFIG_PACKAGE_libretro-snes9x=y
CONFIG_PACKAGE_libretro-genesis-plus-gx=y
CONFIG_PACKAGE_libretro-pcsx-rearmed=y
CONFIG_PACKAGE_libretro-beetle-pce-fast=y
CONFIG_PACKAGE_libretro-fbneo=y
CONFIG_PACKAGE_libretro-mgba=y
CONFIG_PACKAGE_libretro-mupen64plus-next=y
CONFIG_PACKAGE_libretro-flycast2021=y
CONFIG_PACKAGE_libretro-ppsspp=y
